{% extends '../base.html' %}

{% block header %}
Home Page
{% endblock header %}

{% block title %}
<h1>Home Page :D</h1>
{% endblock title %}

{% block content %}
<h2>It is {% now "jS F Y H:i" %}</h2>
{% endblock content %}

<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>HOME PAGE :D</h1>-->
<!--    <h2>It is {% now "jS F Y H:i" %}</h2>-->
<!--</body>-->
<!--</html>-->