@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand {
    text-align: center;
    color: orange;
    font-size: 64px;
}

a i {
    font-size: 1.5rem;
}