@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand {
    text-align: center;
    font-size: 64px;
}


#icon {
    font-size: 1.5rem;
    padding-left: 1rem;
}

#spacer-icon {
    font-size: 1.5rem;
    padding-right: 1rem;
}