<!DOCTYPE html>

<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>{% block title %}MapleScrape{% endblock title %}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/bootstrap-table.min.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/bootstrap-table.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'dist/extensions/sticky-header/bootstrap-table-sticky-header.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="navbar d-flex flex-row">
          <div class="ms-auto justify-content-start">
            <div class="container hstack" style="visibility: hidden">
              <a
                class="nav-link"
                href="https://github.com/JoshFung"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github lg" id="spacer-icon"></i>
              </a>
              <a class="nav-link" href="mailto: joshuagyfung@gmail.com">
                <i class="bi bi-envelope" id="spacer-icon"></i>
              </a>
              <a
                class="nav-link"
                href="https://www.instagram.com/josh.fung/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-instagram" id="spacer-icon"></i>
              </a>
            </div>
          </div>
          <h1 class="mx-auto my-auto justify-content-center">MapleScrape</h1>
          <div class="ms-auto justify-content-end">
            <div class="container hstack">
              <a
                class="nav-link"
                href="https://github.com/JoshFung"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github lg" id="icon"></i>
              </a>
              <a class="nav-link" href="mailto: joshuagyfung@gmail.com">
                <i class="bi bi-envelope" id="icon"></i>
              </a>
              <a
                class="nav-link"
                href="https://www.instagram.com/josh.fung/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-instagram" id="icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block content %} {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dist/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'dist/extensions/sticky-header/bootstrap-table-sticky-header.js' %}"></script>
  </body>
</html>
