{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Store</th>
                <th>Item</th>
                <th>Brand</th>
                <th>Normal Price</th>
                <th>Sale Price</th>
                <th>Rating</th>
                <th>Number of Ratings</th>
                <th>Shipping</th>
                <th>Promo</th>
                <th>Out of Stock</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
            <th> swag </th>
        </tr>
        {% for p in products %}
        <tr>
            <th> {{ p.store }}</th>
            <th> {{ p.name }}</th>
            <th> {{ p.brand }}</th>
            <th> {{ p.normal_price }}</th>
            <th> {{ p.sale_price }}</th>
            <th> {{ p.rating }}</th>
            <th> {{ p.num_of_ratings }}</th>
            <th> {{ p.shipping }}</th>
            <th> {{ p.promotion }}</th>
            <th> {{ p.out_of_stock }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}