{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Store</th>
                <th>Item</th>
                <th>Brand</th>
                <th>Normal Price</th>
                <th>Sale Price</th>
                <th>Rating</th>
                <th>Shipping</th>
                <th>Promo</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
        {% for p in products %}
        <tr>
            <td> {{ p.store }}</td>
            <td> {{ p.name }}</td>
            {% if p.brand != null %}<td>{{ p.brand }}</td>{% else %}<td></td>{% endif %}
            {% if p.normal_price != null %}<td>{{ p.normal_price }}</td>{% else %}<td></td>{% endif %}
            {% if p.sale_price != null %}<td>{{ p.sale_price }}</td>{% else %}<td></td>{% endif %}
            {% if p.rating != null %}<td>{{ p.rating }} ({{ p.num_of_ratings }})</td>{% else %}<td></td>{% endif %}
            {% if p.shipping != null %}<td>{{ p.shipping }}</td>{% else %}<td></td>{% endif %}
            {% if p.promotion != null %}<td>{{ p.promotion }}</td>{% else %}<td></td>{% endif %}
            {% if p.out_of_stock != True %}<td>&#10003</td>{% else %}<td>&#10007</td>{% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}