{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <table>
        <thead>
            <tr>
                <th>Store</th>
                <th>Item</th>
                <th>Brand</th>
                <th>Normal Price</th>
                <th>Sale Price</th>
                <th>Rating</th>
                <th>Shipping</th>
                <th>Promo</th>
                <th>Out of Stock</th>
            </tr>
        </thead>
        <tbody>
        {% for p in products %}
        <tr>
            <td> {{ p.store }}</td>
            <td> {{ p.name }}</td>
            <td> {{ p.brand }}</td>
            <td> {{ p.normal_price }}</td>
            <td> {{ p.sale_price }}</td>
            <td> {{ p.rating }} ({{ p.num_of_ratings }})</td>
            <td> {{ p.shipping }}</td>
            <td> {{ p.promotion }}</td>
            <td> {{ p.out_of_stock }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}